/* Structure */
table {
    width: 100%; 
}

.coloringServicesContainer{
    height: 30vh;
    width: 100%;
    overflow: auto;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.clientData {
    width: 50vw;
    min-width: 250px;
}

.clientData div {
    
    display: inline-table;
}
  
@media (min-width: 960px) {
    table {
        width: 80%;
    }

    table tr {
        position: sticky;
        z-index: -1;
    }

}

