<mat-card>
    <mat-card-title class="pageTitle">Client Details</mat-card-title>
    <mat-form-field class="clientData">
        <textarea matInput placeholder="Client Name:"></textarea>
    </mat-form-field>
    <mat-form-field class="clientData">
        <textarea matInput placeholder="Formula Color ID:"></textarea>
    </mat-form-field>
    <mat-form-field class="clientData">
        <textarea matInput placeholder="Formula (grams):"></textarea>
    </mat-form-field>
    <mat-form-field class="clientData">
        <textarea matInput placeholder="Comments:"></textarea>
    </mat-form-field>

    <mat-card-title class="pageTitle">Coloring Services</mat-card-title>



<mat-form-field> 
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="coloringServicesContainer"> 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
            </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
            </td>
        </ng-container>

        <!-- serviceId Column -->
        <ng-container matColumnDef="serviceId">
            <th mat-header-cell *matHeaderCellDef> Service ID </th>
            <td mat-cell *matCellDef="let element"> {{element.serviceId}} </td>
        </ng-container>

        <!-- setup Column -->
        <ng-container matColumnDef="setup">
            <th mat-header-cell *matHeaderCellDef> Setup (mins.) </th>
            <td mat-cell *matCellDef="let element"> {{element.setup}} </td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- retail Column -->
        <ng-container matColumnDef="retail">
            <th mat-header-cell *matHeaderCellDef> Retail </th>
            <td mat-cell *matCellDef="let element"> {{element.retail | currency}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
</div> 
</mat-card>