<mat-sidenav-container 
  class="sidenav-container"
  role="navigation">
  <mat-sidenav position="end"
    #drawer 
    class="sidenav" 
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <button class="closeButton"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon" style="color: red;">close</mat-icon>
    </button>
    <mat-nav-list role="directory">
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/coloringServices">My Client List</a>
      <a mat-list-item routerLink="/loginSalon">Salon Login</a>
      <a mat-list-item routerLink="/loginStylist">Stylist Login</a>
      <hr>
      <a mat-list-item routerLink="/registerSalon">Salon Registration</a>
      <a mat-list-item routerLink="/registerStylist">Stylist Registration</a>
      <a mat-list-item href="#">Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <mat-toolbar color="primary">
      <button mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon" routerLink="/home">opacity</mat-icon>
      </button>
      <span>Color Canary</span>
      <span class="spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
